https://ec2.amazonaws.com/?Action=DescribeSpotInstanceRequests
&Filter.1.Name=state
&Filter.1.Value.1=open
&AUTHPARAMS

<DescribeSpotInstanceRequestsResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
  <requestId>8cd6486a-80e1-494d-8a4f-be36cEXAMPLE</requestId>
  <spotInstanceRequestSet>
      ...
    <item>
      <spotInstanceRequestId>sir-1a2b3c4d</spotInstanceRequestId>
      <spotPrice>0.002000</spotPrice>
      <type>one-time</type>
      <state>open</state>
      <status>
        <code>not-scheduled-yet</code>
        <updateTime>YYYY-MM-DDTHH:MM:SS.000Z</updateTime>
        <message>Your Spot request will not be evaluated until YYYY-MM-DDTHH:MM:SS+0000 due to your 'Valid From' constraint.</message>
      </status>
      <validFrom>YYYY-MM-DDTHH:MM:SS.000Z</validFrom>
      <validUntil>YYYY-MM-DDTHH:MM:SS.000Z</validUntil>
      <launchSpecification>
        <imageId>ami-1a2b3c4d</imageId>
        <keyName>my-security-group</keyName>
        <groupSet>
          <item>
            <groupId>sg-1a2b3c4d</groupId>
            <groupName>Linux</groupName>
          </item>
        </groupSet>
        <instanceType>t1.micro</instanceType>
        <blockDeviceMapping>
          <item>
            <deviceName>/dev/sda1</deviceName>
            <ebs>
              <volumeSize>8</volumeSize>
              <deleteOnTermination>true</deleteOnTermination>
              <volumeType>standard</volumeType>
            </ebs>
          </item>
        </blockDeviceMapping>
        <monitoring>
          <enabled>false</enabled>
        </monitoring>
      </launchSpecification>
      <createTime>2013-06-14T16:00:40.000Z</createTime>
      <productDescription>Linux/UNIX</productDescription>
    </item>
      ...
  </spotInstanceRequestSet>
</DescribeSpotInstanceRequestsResponse>

https://ec2.amazonaws.com/?Action=CancelSpotInstanceRequests
&SpotInstanceRequestId.1=sir-1a2b3c4d
&AUTHPARAMS

<CancelSpotInstanceRequestsResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
  <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId>
  <spotInstanceRequestSet>
    <item>
      <spotInstanceRequestId>sir-1a2b3c4d</spotInstanceRequestId>
      <state>cancelled</state>
    </item>
  </spotInstanceRequestSet>
</CancelSpotInstanceRequestsResponse>

