https://ec2.amazonaws.com/?Action=CreateReservedInstancesListing
&ClientToken=myIdempToken1
&InstanceCount=1
&PriceSchedules.0.Price=2.5
&PriceSchedules.0.Term=11
&PriceSchedules.1.Price=2.0
&PriceSchedules.1.Term=8
&PriceSchedules.2.Price=1.5
&PriceSchedules.2.Term=5
&PriceSchedules.3.Price=0.7
&PriceSchedules.3.Term=3
&PriceSchedules.4.Price=0.1
&PriceSchedules.4.Term=1
&ReservedInstancesId=e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE
&AUTHPARAMS

<CreateReservedInstancesListingResponse>
    <requestId>a42481af-335a-4e9e-b291-bd18dexample</requestId>
    <reservedInstancesListingsSet>
        <item>
            <reservedInstancesListingId>5ec28771-05ff-4b9b-aa31-9e57dEXAMPLE</reservedInstancesListingId>
            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>
            <createDate>2012-07-17T17:11:09.449Z</createDate>
            <updateDate>2012-07-17T17:11:09.468Z</updateDate>
            <status>active</status>
            <statusMessage>ACTIVE</statusMessage>
            <instanceCounts>
                <item>
                    <state>Available</state>
                    <instanceCount>1</instanceCount>
                </item>
                <item>
                    <state>Sold</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Cancelled</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Pending</state>
                    <instanceCount>0</instanceCount>
                </item>
            </instanceCounts>
            <priceSchedules>
                <item>
                    <term>11</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>true</active>
                </item>
                <item>
                    <term>10</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>9</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>8</term>
                    <price>2.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>7</term>
                    <price>2.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>6</term>
                    <price>2.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>5</term>
                    <price>1.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>4</term>
                    <price>1.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>3</term>
                    <price>0.7</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>2</term>
                    <price>0.7</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>1</term>
                    <price>0.1</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
            </priceSchedules>
            <tagSet/>
            <clientToken>myIdempToken1</clientToken>
        </item>
    </reservedInstancesListingsSet>
</CreateReservedInstancesListingResponse>

https://ec2.amazonaws.com/?Action=DescribeReservedInstances
&AUTHPARAMS

<DescribeReservedInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> 
   <reservedInstancesSet>
   ...
      <item>
         <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>
         <instanceType>m1.xlarge</instanceType>
         <availabilityZone>us-east-1b</availabilityZone>
         <duration>31536000</duration>
         <fixedPrice>61.0</fixedPrice>
         <usagePrice>0.034</usagePrice>
         <instanceCount>3</instanceCount>
         <productDescription>Linux/UNIX</productDescription>
         <state>active</state> 
         <instanceTenancy>default</instanceTenancy>
         <currencyCode>USD</currencyCode>
         <offeringType>Light Utilization</offeringType>
         <recurringCharges/>
      </item>
   ...
   </reservedInstancesSet> 
</DescribeReservedInstancesResponse>

https://ec2.amazonaws.com/?Action=CreateReservedInstancesListing
&ClientToken=myIdempToken1
&ReservedInstancesId=e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE
&InstanceCount=3
&PriceSchedules.0.Price=2.5&PriceSchedules.0.Term=11
&PriceSchedules.1.Price=2.0&PriceSchedules.1.Term=8
&PriceSchedules.2.Price=1.5&PriceSchedules.2.Term=5
&PriceSchedules.3.Price=0.7&PriceSchedules.3.Term=3
&PriceSchedules.4.Price=0.1&PriceSchedules.4.Term=1
&AUTHPARAMS

<CreateReservedInstancesListingResponse>
    <requestId>a42481af-335a-4e9e-b291-bd18dEXAMPLE</requestId>
    <reservedInstancesListingsSet>
        <item>
            <reservedInstancesListingId>5ec28771-05ff-4b9b-aa31-9e57dEXAMPLE</reservedInstancesListingId>
            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>
            <createDate>2012-08-30T17:11:09.449Z</createDate>
            <updateDate>2012-08-30T17:11:09.468Z</updateDate>
            <status>active</status>
            <statusMessage>active</statusMessage>
            <instanceCounts>
                <item>
                    <state>Available</state>
                    <instanceCount>3</instanceCount>
                </item>
                <item>
                    <state>Sold</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Cancelled</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Pending</state>
                    <instanceCount>0</instanceCount>
                </item>
            </instanceCounts>
            <priceSchedules>
                <item>
                    <term>11</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>true</active>
                </item>
                <item>
                    <term>10</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>9</term>
                    <price>2.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>8</term>
                    <price>2.00</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>               
                </item>
                <item>
                    <term>7</term>
                    <price>2.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>6</term>
                    <price>2.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>5</term>
                    <price>1.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>4</term>
                    <price>1.5</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>3</term>
                    <price>0.7</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>2</term>
                    <price>0.7</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>1</term>
                    <price>0.1</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
            </priceSchedules>
            <tagSet/>
            <clientToken>listRI1</clientToken>
        </item>
    </reservedInstancesListingsSet>
</CreateReservedInstancesListingResponse>

https://ec2.amazonaws.com/?Action=DescribeReservedInstancesListings
&AUTHPARAMS

<DescribeReservedInstancesListingsResponse>
    <requestId>cec5c904-8f3a-4de5-8f5a-ff7f9EXAMPLE</requestId>
    <reservedInstancesListingsSet>
        <item>
            <reservedInstancesListingId>253dfbf9-c335-4808-b956-d942cEXAMPLE</reservedInstancesListingId>
            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>
            <createDate>2012-07-06T19:35:29.000Z</createDate>
            <updateDate>2012-07-06T19:35:30.000Z</updateDate>
            <status>active</status>
            <statusMessage>ACTIVE</statusMessage>
            <instanceCounts>
                <item>
                    <state>Available</state>
                    <instanceCount>20</instanceCount>
                </item>
                <item>
                    <state>Sold</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Cancelled</state>
                    <instanceCount>0</instanceCount>
                </item>
                <item>
                    <state>Pending</state>
                    <instanceCount>0</instanceCount>
                </item>
            </instanceCounts>
            <priceSchedules>
                <item>
                    <term>8</term>
                    <price>480.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>7</term>
                    <price>420.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>6</term>
                    <price>360.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>active</active>
                </item>
                <item>
                    <term>5</term>
                    <price>300.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>4</term>
                    <price>240.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>3</term>
                    <price>180.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>2</term>
                    <price>120.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
                <item>
                    <term>1</term>
                    <price>60.0</price>
                    <currencyCode>USD</currencyCode>
                    <active>false</active>
                </item>
            </priceSchedules>
            <tagSet/>
            <clientToken>myclienttoken1</clientToken>
        </item>
    </reservedInstancesListingsSet>
</DescribeReservedInstancesListingsResponse>

