https://ec2.amazonaws.com/?Action=DescribeSnapshots
&SnapshotId=snap-1a2b3c4d
&AUTHPARAMS

<DescribeSnapshotsResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> 
   <snapshotSet>
      <item>
         <snapshotId>snap-1a2b3c4d</snapshotId>
         <volumeId>vol-1a2b3c4d</volumeId>
         <status>pending</status>
         <startTime>YYYY-MM-DDTHH:MM:SS.SSSZ</startTime>
         <progress>80%</progress>
         <ownerId>111122223333</ownerId>
         <volumeSize>15</volumeSize>
         <description>Daily Backup</description>
         <tagSet/>
      </item>
   </snapshotSet>
</DescribeSnapshotsResponse>

https://ec2.amazonaws.com/?Action=DescribeSnapshots
&Filter.1.Name=status
&Filter.1.Value.1=pending
&Filter.2.Name=tag-value
&Filter.2.Value.1=*db_*
&AUTHPARAMS

<DescribeSnapshotsResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> 
   <snapshotSet>
      <item>
         <snapshotId>snap-1a2b3c4d</snapshotId>
         <volumeId>vol-1a2b3c4d</volumeId>
         <status>pending</status>
         <startTime>YYYY-MM-DDTHH:MM:SS.SSSZ</startTime>
         <progress>30%</progress>
         <ownerId>111122223333</ownerId>
         <volumeSize>15</volumeSize>
         <description>Daily Backup</description>
         <tagSet>
            <item>
               <key>Purpose</key>
               <value>demo_db_14_backup</value>
            </item>
         </tagSet>
      </item>
   </snapshotSet>
</DescribeSnapshotsResponse>

