https://ec2.amazonaws.com/?Action=DescribeSpotPriceHistory
&StartTime=2009-12-04T00:00:00.000Z
&EndTime=2009-12-04T23:59:59.000Z
&AvailabilityZone=us-east-1a
&AUTHPARAMS

https://ec2.amazonaws.com/?Action=DescribeSpotPriceHistory
&Filter.1.Name=timestamp
&Filter.1.Value.1=2009-12-04*
&Filter.2.Name=availability-zone
&Filter.2.Value.1=us-east-1a
&AUTHPARAMS

<DescribeSpotPriceHistoryResponse xmlns="http://ec2.amazonaws.com/doc/2013-07-15/">
  <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> 
  <spotPriceHistorySet>
    <item>
      <instanceType>m1.small</instanceType>
      <productDescription>Linux/UNIX</productDescription>
      <spotPrice>0.287</spotPrice>
      <timestamp>2009-12-04T20:56:05.000Z</timestamp>
      <availabilityZone>us-east-1a</availabilityZone>
    </item>
    <item>
      <instanceType>m1.small</instanceType>
      <productDescription>Windows</productDescription>
      <spotPrice>0.033</spotPrice>
      <timestamp>2009-12-04T22:33:47.000Z</timestamp>
      <availabilityZone>us-east-1a</availabilityZone>
    </item>
  </spotPriceHistorySet>
  <nextToken/>
</DescribeSpotPriceHistoryResponse>

