# See: https://docs.bazel.build/versions/master/user-manual.html#bazelrc.

startup --host_jvm_args=-Xms2g --host_jvm_args=-Xmx2g

build --compilation_mode=fastbuild
build --distinct_host_configuration=false
build --experimental_repository_cache_hardlinks
build --incompatible_disallow_empty_glob
build --incompatible_exclusive_test_sandboxed
build --incompatible_remote_results_ignore_disk=true
build --incompatible_strict_action_env
build --verbose_failures

test --test_output=all

#
# Platforms and Toolchains
#

build --host_platform=@io_tweag_rules_nixpkgs//nixpkgs/platforms:host
build --host_javabase=@local_jdk//:jdk
build --javabase=@local_jdk//:jdk

#
# Caching
#

common --repository_cache=~/.cache/bazel/amazonka/repo

build --disk_cache=~/.cache/bazel/amazonka/disk

run --remote_download_outputs=all

# build:linux --remote_cache=https://storage.googleapis.com/tlon-opensource-cache/linux
# build:darwin --remote_cache=https://storage.googleapis.com/tlon-opensource-cache/darwin

build:linux --remote_instance_name=amazonka-linux
build:darwin --remote_instance_name=amazonka-darwin

build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600s
build --remote_upload_local_results=false
build --remote_retries=10
build --http_timeout_scaling=2.0

#
# Build Telemetry
#

build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_timeout=900s
build:remote --keep_backend_build_event_connections_alive=false

#
# Continuous Integration
#

common:ci --color=no

build:ci --disk_cache=
build:ci --loading_phase_threads=1
build:ci --remote_upload_local_results=true
build:ci --experimental_ui_max_stdouterr_bytes=-1
build:ci --remote_download_minimal

test:ci --test_output=errors
test:ci --test_verbose_timeout_warnings

#
# Local Customisations
#

try-import %workspace%/.bazelrc.local
