startup --host_jvm_args=-Djdk.tls.client.protocols=TLSv1.2

# Bazel caching - can be disabled by passing the flag --noremote_accept_cached.
build --remote_cache=https://storage.googleapis.com/tlon-opensource-cache

# Don't push build results to the remote cache - CI is source of truth.
build --remote_upload_local_results=false

# Push build results to the local disk cache despite
# --remote_upload_local_results being set.
build --incompatible_remote_results_ignore_disk=true

# Enable the disk cache in addition to the http cache.
build --disk_cache=~/.cache/bazel/amazonka/disk

# Push all results to the repository cache.
build --repository_cache=~/.cache/bazel/amazonka/repo

# Prevent silently matching empty file globs.
build --incompatible_disallow_empty_glob

# Persistent worker mode.
build --define use_worker=True
build --worker_sandboxing

# Increase logging verbosity.
build --verbose_failures

# Toolchain configuration.
build --host_platform=@io_tweag_rules_nixpkgs//nixpkgs/platforms:host
build --host_javabase=@local_jdk//:jdk
build --javabase=@local_jdk//:jdk

# When set, bazel uses PATH=/bin:/usr/bin. This improves cache hits and only
# environment variables set explicitly using --action_env will be available.
build --incompatible_strict_action_env

# Print all test output to stdout.
test --test_output=all

# Any personal configuration settings should go in a gitignored .bazelrc.local.
try-import %workspace%/.bazelrc.local
