# OSX
.DS_Store

# Emacs/Vim
*~
*#
.#*
.*.sw[a-z]
*.un~
*.org
.projectile

# Nix
result*

# Certificates
*.pem
*.key
*.secret
*.sec
*.asc

# Archives
*.zip
*.gz
*.tar
*.bzip2
*.xz

# Profiling
*.prof
*.aux
*.hp
*.ps
*.pdf

# Cabal
/dist-newstyle
dist*
.ghc*
cabal.project.local*

# Curl
.cookies
*.log
