<?xml version="1.0" encoding="UTF-8"?>
<CreateHostedZoneRequest xmlns="https://route53.amazonaws.com/doc/2012-12-12/">
  <Name>{{chzDomainName}}</Name>
  <CallerReference>{{chzCallerReference}}</CallerReference>
  {{#chzComment}}
  <HostedZoneConfig>
    <Comment>{{.}}</Comment>
  </HostedZoneConfig>
  {{/chzComment}}
</CreateHostedZoneRequest>
