<DeleteHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/">
   {{#dhzrChangeInfo}}
   <ChangeInfo>
      <Id>{{ciId}}</Id>
      <Status>{{ciStatus}}</Status>
      <SubmittedAt>{{ciSubmittedAt}}</SubmittedAt>
   </ChangeInfo>
   {{/dhzrChangeInfo}}
</DeleteHostedZoneResponse>
