<GetHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2012-12-12/">
  {{#ghzrHostedZone}}
  <HostedZone>
    <Id>{{hzId}}</Id>
    <Name>{{hzName}}</Name>
    <CallerReference>{{hzCallerReference}}</CallerReference>
    {{#hzConfig}}
    <Config>
      <Comment>{{cComment}}</Comment>
    </Config>
    {{/hzConfig}}
    <ResourceRecordSetCount>{{hzResourceRecordSetCount}}</ResourceRecordSetCount>
  </HostedZone>
  {{/ghzrHostedZone}}
  {{#ghzrDelegationSet}}
  <DelegationSet>
    <NameServers>
    {{#dsNameServers}}
      <NameServer>{{.}}</NameServer>
    {{/dsNameServers}}
    </NameServers>
  </DelegationSet>
  {{/ghzrDelegationSet}}
</GetHostedZoneResponse>
