
https://iam.amazonaws.com/
?Action=ListInstanceProfilesForRole
&MaxItems=100
&RoleName=S3Access
&Version=2010-05-08
&AUTHPARAMS
      


<ListInstanceProfilesForRoleResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
  <ListInstanceProfilesForRoleResult>
    <IsTruncated>false</IsTruncated>
    <InstanceProfiles>
      <member>
        <Id>AIPACZLS2EYYXMEXAMPLE</Id>
        <Roles>
          <member>
            <Path>/application_abc/component_xyz/</Path>
            <Arn>arn:aws:iam::123456789012:role/application_abc/component_xyz/S3Access</Arn>
            <RoleName>S3Access</RoleName>
            <AssumeRolePolicyDocument>{"Version":"2008-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":["ec2.amazonaws.com"]},"Action":["sts:AssumeRole"]}]}</AssumeRolePolicyDocument>
            <CreateDate>2012-05-09T15:45:35Z</CreateDate>
            <RoleId>AROACVSVTSZYK3EXAMPLE</RoleId>
          </member>
        </Roles>
        <InstanceProfileName>Webserver</InstanceProfileName>
        <Path>/application_abc/component_xyz/</Path>
        <Arn>arn:aws:iam::123456789012:instance-profile/application_abc/component_xyz/Webserver</Arn>
        <CreateDate>2012-05-09T16:27:11Z</CreateDate>
      </member>
    </InstanceProfiles>
  </ListInstanceProfilesForRoleResult>
  <ResponseMetadata>
    <RequestId>6a8c3992-99f4-11e1-a4c3-27EXAMPLE804</RequestId>
  </ResponseMetadata>
</ListInstanceProfilesForRoleResponse>

      

