https://autoscaling.amazonaws.com/?Version=2011-01-01
&Action=DescribeTerminationPolicyTypes
&AUTHPARAMS 

<DescribeTerminationPolicyTypesResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
  <DescribeTerminationPolicyTypesResult>
    <TerminationPolicyTypes>
      <member>ClosestToNextInstanceHour</member>
      <member>Default</member>
      <member>NewestInstance</member>
      <member>OldestInstance</member>
      <member>OldestLaunchConfiguration</member>
    </TerminationPolicyTypes>
  </DescribeTerminationPolicyTypesResult>
  <ResponseMetadata>
    <RequestId>d9a05827-b735-11e2-a40c-c79a5EXAMPLE</RequestId>
  </ResponseMetadata>
</DescribeTerminationPolicyTypesResponse> 

