name: build

env:
  # Bump this number to invalidate the github actions cache.
  cache-version: 1

on:
  push:
    branches: null
  pull_request:
    branches: null

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
#          - { os: ubuntu-latest, ghc: ghc884  }
#          - { os: ubuntu-latest, ghc: ghc8107 }
          - { os: macos-latest,  ghc: ghc8107 }

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup nix
        uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=./nix/nixpkgs.nix
          extra_nix_config: |
            trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://hydra.iohk.io https://cache.nixos.org/

      - name: Setup nix cache
        uses: cachix/cachix-action@v8
        with:
          name: amazonka
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Setup local bazel cache
        uses: actions/cache@v2
        with:
          key: cache-${{ runner.os }}-${{ env.cache-version }}
          path: ~/.cache/bazel/amazonka

      - name: Setup writable remote bazel cache
        if: ${{ github.repository == 'brendanhay/amazonka' }}
        env:
          SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT_KEY }}
        run: |
          printf '%s\n' >/tmp/credentials.json \
            "$SERVICE_ACCOUNT"

          printf '%s\n' >>.bazelrc.local \
            "common --google_credentials=/tmp/credentials.json" \
            "common --remote_upload_local_results=true" \
            "common --curses=no" \
            "common --color=no"

      - name: bazel build //...
        run: |
          nix-shell --argstr ghcVersion '${{ matrix.ghc }}' --run \
            'bazel build //gen --sandbox_debug'
